version: "3.9"

services:
  app:
    build:
      context: .
    restart: always
    volumes:
      - /static/lithops-life:/vol/static
      - ./app/db.sqlite3:/app/db.sqlite3
    environment:
      - DJANGO_SECRET_KEY=${DJANGO_SECRET_KEY}
      - DJANGO_ALLOWED_HOSTS=${DOMAIN}
      - DJANGO_DEBUG=1
      - DOMAIN=${DOMAIN}
      - EMAIL_FROM_SITE=${EMAIL_FROM_SITE}
      - EMAIL_FROM_SITE_PASSWD=${EMAIL_FROM_SITE_PASSWD}
      - EMAIL_FROM_SITE_TO=${EMAIL_FROM_SITE_TO}
      - RECAPTCHA_SECRET_KEY=${RECAPTCHA_SECRET_KEY}

  proxy:
    build:
      context: ./docker/proxy
    restart: always
    depends_on:
      - app
    ports:
      - 80:80
      - 443:443
    volumes:
      - certbot-web:/vol/www
      - proxy-dhparams:/vol/proxy
      - certbot-certs:/etc/letsencrypt
      - /static/lithops-life:/vol/static
    environment:
      - DOMAIN=${DOMAIN}

  certbot:
    build:
      context: ./docker/certbot
    command: echo "Skipping..."
    environment:
      - EMAIL=${ACME_DEFAULT_EMAIL}
      - DOMAIN=${DOMAIN}
    volumes:
      - certbot-web:/vol/www
      - certbot-certs:/etc/letsencrypt/
    depends_on:
      - proxy

volumes:
  certbot-web:
  proxy-dhparams:
  certbot-certs: