{% load static %}
{% load i18n %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YYPBDYB63X"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-YYPBDYB63X');
    </script>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WZ4Q8FQC');</script>
    <!-- End Google Tag Manager -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Mesemb Marathon</title>
    <meta name="description" content="Ежегодный совместный посев аизовых (литопсов и др.)">
    <meta name="keywords" content="lithops, conophytum, mesemb">
    <meta name="author" content="Dmitry N.">
    <meta property="og:title" content="Mesemb Marathon">
    <meta property="og:description" content="Ежегодный совместный посев аизовых">
    <meta property="og:image" content="{% static 'img/masemb_marathon_logo_300p.png' %}">
    <meta property="og:url" content="{% url 'marathons' %}">
    <link rel="icon" href="{% static 'img/favicon.png' %}" type="image/x-icon">
    {% block head %}{% endblock head %}
    <style>
      body {
        padding-top: 3rem;
        padding-bottom: 3rem;
      }
    </style>
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WZ4Q8FQC"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'index' %}">
            <img src="{% static 'img/logo.svg' %}" alt="Mesemb Marathon Logo" class="me-3"><span class="fw-lighter">Mesemb Marathon</span>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button> 
          <div class="collapse navbar-collapse" id="navbarCollapse">
            {% with request.resolver_match.url_name as url_name %}
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle {% if '/marathon/20' in request.path %}active{% endif %}" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  {% trans "Марафоны" %} 
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  {% for marathon in marathons %}
                  {% url 'marathon' marathon.name as marathon_url %}
                  <li><a class="dropdown-item {% if request.get_full_path == marathon_url %}active{% endif %}" href="{% url 'marathon' marathon.name %}">{{ marathon.name }}</a></li>
                  {% endfor %}
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if url_name == 'marathon about' %}active{% endif %}" href="{% url 'marathon about' %}" tabindex="-1" aria-disabled="true">{% trans 'О проекте' %}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if url_name == 'marathon rules' %}active{% endif %}" href="{% url 'marathon rules' %}" tabindex="-1" aria-disabled="true">{% trans 'Правила' %}</a>
              </li>  
              <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">{% trans 'Публикации' %}</a>
              </li>  
              <li class="nav-item">
                <a class="nav-link {% if url_name == 'marathon knowledge' %}active{% endif %}" href="{% url 'marathon knowledge' %}" tabindex="-1" aria-disabled="true">{% trans 'Знания' %}</a>
              </li> 
              <li class="nav-item">
                <a class="nav-link {% if url_name == 'marathon partners' %}active{% endif %}" href="{% url 'marathon partners' %}" tabindex="-1" aria-disabled="true">{% trans 'Партнеры' %}</a>
              </li> 
              <li class="nav-item">
                <a class="nav-link {% if url_name == 'marathon contacts' %}active{% endif %}" href="{% url 'marathon contacts' %}" tabindex="-1" aria-disabled="true">{% trans 'Контакты' %}</a>
              </li> 
            </ul>
            {% endwith %}
            {% get_current_language as LANGUAGE_CODE %}
            {% get_language_info for LANGUAGE_CODE as lang %}
            <ul class="navbar-nav small me-2 mb-2 mb-md-0">
              <li class="nav-item"><a class="nav-link {% if lang.code  == 'en' %}active{% endif %}" href="{% url 'set_lang' %}?language=en"> EN</a> </li>
              {% comment %} <li class="nav-item"><a class="nav-link {% if lang.code  == 'de' %}active{% endif %}" href="{% url 'set_lang' %}?language=de">DE</a> </li> {% endcomment %}
              <li class="nav-item"><a class="nav-link {% if lang.code  == 'ru' %}active{% endif %}" href="{% url 'set_lang' %}?language=ru">RU</a></li>
            </ul>
          </div>
        </div>
      </nav> 
    </header>

    {% block body %}{% endblock body %}

    <hr class="featurette-divider">

     <!-- FOOTER -->
      <footer class="container">
        <div class="row justify-content-center">
            <div class="col-2 pb-0 px-0 px-lg-5">
                <img src="{% static 'img/masemb_marathon_logo_300p.png' %}" class="img-fluid" alt="Mesemb Marathon Logo">
            </div>
        </div>
        <p class="float-end"><a href="#">{%  trans 'В начало' %} &nbsp;<i class="bi bi-arrow-up"></i></a></p>
        <p>&copy; 2023–2024 &middot; Mesemb Marathon  &middot;</p>
      </footer>

    {% block foot %}{% endblock foot %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>