{% extends "main.html" %}
{% load static %}

{% block head %}
    <script type="text/javascript" src="{% static 'marathon/js/openseadragon-bin-4.1.1/openseadragon.js' %}" ></script>
    <script type="text/javascript" src="{% static 'marathon/js/jquery-1.9.1.min.js' %}" ></script>
    <style type="text/css">
        .openseadragon1 {
            width: 100%;
            height: 45vh;
            border: 1px solid;
        }
    </style>

{% endblock head %}

{% block body %}

<main>

  <div class="container mt-5">
    <div class="row mt-5 pt-5 justify-content-center">
      <div class="col ">
          {% comment %} <h1 class="display-6 my-5 text-center">Конкурсная таблица {{ species_full_name }}</h1> {% endcomment %}
          <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'marathons' %}">Марафон</a></li>
              <li class="breadcrumb-item"><a href="{% url 'marathon 2023' %}">2023</a></li>
              <li class="breadcrumb-item active" aria-current="page">{{ species_full_name }}</li>
            </ol>
          </nav>
      </div>
    </div>
    <div class="row justify-content-center">
        <div class="col">
            <div id="contentDiv" class="openseadragon1"></div>
        </div>
    </div>
    <div class="row justify-content-center my-5">
      {% if 'c188' in rest_species %}
      <div class="col-lg-4  d-flex flex-column align-items-center mb-5 mb-lg-0">
        <a href="{% url 'species table' species_id='c188' %}"><img src="{% static 'marathon/img/2023/front_c188_140p.jpg' %}" class="rounded-circle" alt="Lithops werneri, C188"></a>
        <h2>C188</h2>
        <p><span class="fst-italic">Lithops werneri</span>, C188 </p>
        <p><a class="btn btn-secondary" href="{% url 'species table' species_id='c188' %}">Таблица &raquo;</a></p>
      </div>
      {% endif %}
      {% if 'c262' in rest_species %}
      <div class="col-lg-4 d-flex flex-column align-items-center mb-5 mb-lg-0">
        <a href="{% url 'species table' species_id='c262' %}"><img src="{% static 'marathon/img/2023/front_c262_140p.jpg' %}" class="rounded-circle" alt="Lithops gracildelineata, C262"></a>
        <h2>C262</h2>
        <p><span class="fst-italic">Lithops gracildelineata</span>, C262</p>
        <p><a class="btn btn-secondary" href="{% url 'species table' species_id='c262' %}">Таблица &raquo;</a></p>
      </div>
      {% endif %}
      {% if 'annarosa' in rest_species %}
      <div class="col-lg-4 d-flex flex-column align-items-center  mb-5 mb-lg-0">
        <a href="{% url 'species table' species_id='annarosa' %}"><img src="{% static 'marathon/img/2023/front_annarosa_140p.jpg' %}" class="rounded-circle" alt="Lithops hookeri var. dabneri cv. Annarosa"></a>
        <h2>Annarosa</h2>
        <p><span class="fst-italic">Lithops hookeri</span> var. <span class="fst-italic">dabneri</span> cv. 'Annarosa'</p>
        <p><a class="btn btn-secondary" href="{% url 'species table' species_id='annarosa' %}">Таблица &raquo;</a></p>
      </div>
      {% endif %}
    </div>
  </div>

</main>

{% endblock body %}


{% block foot %}


  <script type="text/javascript">
    var viewer = OpenSeadragon({
        // debugMode: true,
        id: "contentDiv",
        prefixUrl: "{% static 'marathon/js/openseadragon-bin-4.1.1/images/' %}",
        tileSources: "https://storage.yandexcloud.net/lithops.life/dzi/annarosa.dzi",
        showNavigator: true,
    });
  </script>

{% endblock foot %}
