{% extends "main.html" %}
{% load static %}

{% block head %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <style>
      h1 { font-family: 'Ubuntu Mono', sans-serif; }
      .bg-blur{ backdrop-filter: blur(5px); }
    </style>
{% endblock head %}

{% block body %}

<main>
  <div class="container mt-5">

    <div class="row align-items-center  mt-5 pt-1 ">
      <!-- Left content START -->
      <div class="col-lg-5 col-xl-6 text-center text-lg-start mb-7 mb-sm-0">

        <!-- Title -->
        <h1 class="mb-0 display-6">Второй ежегодный посевной марафон аизовых</h1>
        
        <!-- Content -->
        <p class="mt-3 mb-5 lead">Стартует 1 октября 2024 года.</p>
        
        <!-- Info -->
        <ul class="list-inline position-relative justify-content-center justify-content-lg-start mb-4">
          <li class="list-inline-item me-2"> <i class="bi bi-flower3 h6 me-1"></i><a href="https://docs.google.com/spreadsheets/d/1_3qnfAIQWgoRt2tQl8_fJk1ppUj9ZsOJ-yJH-TMMa_w/edit?usp=sharing">Таблица семян</a></li>
          <li class="list-inline-item me-2"> <i class="bi bi-flower3 h6 me-1"></i><a href="#competition">Конкурсные сеянцы</a></li>
          <li class="list-inline-item"> <i class="bi bi-flower3 h6 me-1"></i><a href="{% url 'marathon contacts' %}?subject=membership">Принять участие</a></li>
        </ul>
      </div>

      <!-- Right content START -->
      <div class="col-lg-7 col-xl-6 text-center position-relative">
        <img src="{% static 'marathon/img/2024/title.jpg' %}" class="img-fluid" alt="Lithops seedlings">
      </div>

    </div> 

    <div class="row my-4">
      <div class="col">
        <h1 class="display-6 my-4 text-center" id="competition">Конкурсные виды</h1>
        <p><span class="lead">Конкурсные виды</span> — перечень семян, выбранных постоянными участниками путем голосования из имеющихся в наличии, для которых каждый месяц (в начале посева - чаще) фиксируется состояние сеянцев (участник делает фото)  и вносится в общую сравнительную таблицу.  В конце Марафона (через год после посева) путем голосования определяются лучшие сеянцы и разыгрываются призы.</p>
        <p>В рамках Марафона 2024 выбрано 6 конкурсных видов:</p>
      </div>
    </div>
   
    <div class="row mt-4 justify-content-center">
      <!-- Left content START -->
      <div class="col-lg-5 col-xl-6 text-center text-lg-start mb-5  ">
        <h4 class="mb-4 text-center">Семена из питомника ZW:</h4>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Наименование</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1.</th>
              <td><em>Lithops</em> 'Murasaki-Kikushogyoku'</td>
            </tr>
            <tr>
              <th scope="row">2.</th>
              <td><em>Lithops karasmontana</em> cv. 'Axel's Rose'</td>
            </tr>
            <tr>
              <th scope="row">3.</th>
              <td><em>Lithops otzeniana</em> cv. 'Cesky Granat'</td>
            </tr>
          </tbody>
        </table> 
      </div>

      <!-- Right content -->
      <div class="col-lg-7 col-xl-6 text-center position-relative mb-4">
        <h4 class="mb-4 text-center">Прочие семена:</h4>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Наименование</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1.</th>
              <td><em>Lithops pseudotruncatella</em> ssp. <em>pseudotruncatella</em></br>var. <em>elisabethiae</em>, C187</td>
            </tr>
            <tr>
              <th scope="row">2.</th>
              <td><em>Lithops lesliei</em> cv. 'Albinica', C036A</td>
            </tr>
            <tr>
              <th scope="row">3.</th>
              <td><em>Lithops hookeri</em> var. <em>susannae</em>, C091</td>
            </tr>
          </tbody>
        </table> 
      </div>  
    </div>  

    <div class="row my-4">
      <div class="col">
        <a href="https://docs.google.com/spreadsheets/d/1K4DFI9FQn6XIFgYnnL4TKUWNhA-2l9H1-d8F7ePbZ5E/edit?usp=sharing">Таблица данных о конкурсном посеве</a> (источники семян, всходимость, условия и т.д.)
      </div>
    </div>

    <div class="row my-4">
      <div class="col">
        <h4 class="my-4 text-center">Требования к участникам конкурса</h4>
        <ul>
          <li>конкурные виды должны быть посеяны в отдельные горшки (квадратной/круглой/многоугольной формы);</li>
          <li>наличие фотоаппарата — примерно раз в месяц необходимо делать фото конкурсных сеянцев;</li>
          <li>наличие линейки с миллиметровой шкалой;</li>
          <li>наличие информации об источнике семян и их точном количестве в посеве.</li>
        </ul>
      </div>
    </div>
        
    <div class="row my-4">
      <div class="col">
        <h4 class="my-4 text-center">Зачем нужна линейка?</h4>
      </div>
    </div>

    <div class="row mb-5">
      <div class="col-4">
        <svg class="bd-placeholder-img bd-placeholder-img-lg img-fluid" width="100%" height="300" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="A pot with ruler" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="30%" y="50%" fill="#dee2e6" dy=".3em">Pot with a ruler</text></svg>
      </div>

      <div class="col-8">
        <p>Линейка на фото необходима для обеспечения единого масштаба на всех фото в конкурсной таблице. Единый масштаб необходим, чтобы была видна динамика роста (а не разница в зуме фотоаппарата). Особенно это актуально при пикировке в другой (более крупный) горшок — из-за большей площади растения на фото после пикировки становятся мелкие.</p>
        <p>Линейка может быть любая: распечатанная на принтере, гостированная, школьная, главное чтобы на ней была шкала миллиметров. Для распечатанных на принтере линеек следует проверить, что миллиметры соответствуют своему размеру. </p>
        <p>Линейку нужно приложить к горшку вдоль нижнего борта, чтобы она попадала в кадр. Не имеет значения, куда прикладывать ноль, главное чтобы была видна шкала. </p>
        <p>Если не хочется каждый раз возиться с линейкой, то это можно сделать только на первом фото. На последующих  фото - ориентиром для выравнивания масштаба будет служить горшок (в этом случае горшок должен попадать в кадр на всех фото!).  Еще раз прикладывать линейку будет нужно в случае смены горшка (при пересадке растений), чтобы сохранить масштаб.</p>
        <p>Единый масштаб и возможность понять размер сеянцев — повышает качество данных и научную ценность материалов, получаемых в результате проведения Марафона.</p>
      </div>

    </div>

  </div>
</main>

{% endblock body %}
