{% extends "main.html" %}
{% load static %}

{% block head %}
    <style type="text/css">
        h3 {
            padding-top: 0.7em
        }
    </style>
{% endblock %}

{% block body %}

<main>
    <div class="container mt-5">
        <div class="row align-items-center  mt-5 pt-1 ">
            <div class="col-lg-5 col-xl-8 text-center text-lg-start mb-7 mb-sm-0">
                <p class="lead my-4">Добро пожаловать в наше сообщество любителей выращивать <abbr title="Мезембриантемовые, Аизовые" class="attribute">мезембы</abbr> и другие суккуленты из семян! Мы рады представить вам наш ежегодный посевной Марафон — уникальное мероприятие, которое объединяет людей, увлеченных выращиванием этих удивительных растений.</p>
            </div>
            <div class="col-lg-7 col-xl-4 text-center position-relative">
                <img src="{% static 'marathon/img/about.jpg' %}" class="img-fluid" alt="Lithops seedlings">
            </div
        </div>
    </div>    

        <div class="row  mt-4">
            <div class="col">
                

                <h3>Что такое Марафон?</h3>
                <p>Марафон — длительное мероприятие, в котором мы все вместе сеем семена в один день и наблюдаем за ростом и развитием растений в течение как минимум года, создавая вокруг этого процесса единое сообщество. Это не просто посев, а возможность глубже понять особенности этого семейства растений путем наблюдения, сравнения и обмена опытом. </p>
                <h3>Какие семена сять в Марафон? </h3>
                <p>Марафон не определяет списков семян для посева и не накладывает ограничений на источники. Что и в каком количестве сеять - каждый участник определяет для себя сам. Условия участия, сводятся к следующим пунктам:</p>
                <ul>
                    <li>семена должны относится к семейству Аизовых; </li>
                    <li>дата посева должна соответствовать оговоренной;</li>
                    <li>список посева внесены в общую таблицу для всех участников.</li>
                </ul>
                <h3>Конкурсные виды</h3>
                <p>Перед началом Марафона, среди наиболее часто встречающихся семян уже определившихся участников, мы выбираем несколько видов, которые объявляем "конкурсными".  Эти виды требуют особого внимания, и мы тщательно наблюдаем за их ростом. Участники, решившие принять участие в конкурсе, должны отправлять фотографии своих сеянцев через оговоренные интервалы, для включения их в сводную таблицу. К этим сеянцам могут предъявляться более высокие требования, которые оговариваются для каждого Марафона по отдельности. </p>
                <h3>Подведение итогов</h3>
                <p>Первые итоги подводятся ровно через год после посева. Путем голосования определяются наилучшие представители в различных номинациях, как среди конкурсных, так и среди внеконкурсных сеянцев. Однако эти итоги являются предварительными. Моментом достижения зрелости растения можно считать его цветение. Поэтому Марафон продолжается и дальше. Момент подведения окончательных итогов определяется в рамках каждого отдельного Марафона. </p>
                <h3>Наша философия</h3>
                <p>Мы не преследуем коммерческих интересов; наша цель — это наблюдение за развитием растений, обмен опытом и популяризация хобби. Поэтому мы стремимся создать дружелюбную атмосферу, техническую и теоретическую базу. Мы также ценим аккуратность, точность и пунктуальность, благодаря чему собранные материалы возможно будут не просто любопытными, но и полезными для научных сообществ. </p>
                <h3>Где проходит Марафон и как присоединиться</h3>
                <p class="mb-5">В настоящее время Марафон проходит в Telegram в одной из веток "Клуба любителей Живых камней". Чтобы присоединиться - пройдите по соответствующей ссылке на странице Марафона. </p>
            </div>
        </div>
    </div>
</main>

{% endblock  %}
