{% extends "main.html" %}
{% load static %}
{% load i18n %}

{% block head %}
    <style type="text/css">
        h3 {
            padding-top: 0.7em
        }
    </style>
{% endblock %}

{% block body %}

<main>
    <div class="container mt-5">
        <div class="row align-items-center  mt-5 pt-1 ">
            <div class="col-lg-5 col-xl-8 text-center text-lg-start mb-7 mb-sm-0">
                <p class="lead my-4">{% trans "Добро пожаловать в наше сообщество" %} </p>
            </div>
            <div class="col-lg-7 col-xl-4 text-center position-relative">
                <img src="{% static 'marathon/img/about.jpg' %}" class="img-fluid" alt="Lithops seedlings">
            </div
        </div>
    </div>    

        <div class="row  mt-4">
            <div class="col">
                

                <h3>{% trans 'Что такое Марафон?' %}</h3>
                <p>{% trans 'Что такое Марафон? - Ответ' %}</p>
                <h3>{% trans 'Какие семена сеять в Марафоне?' %}</h3>
                <p>{% trans 'Какие семена сеять в Марафоне? - Ответ' %}</p>
                <ul>
                    <li>{% trans 'семена должны относится к семейству Аизовых' %}; </li>
                    <li>{% trans 'дата посева должна соответствовать оговоренной' %};</li>
                    <li>{% trans 'список посева внесен в общую таблицу для всех участников' %}.</li>
                </ul>
                <h3>{% trans 'Конкурсные виды' %}</h3>
                <p>{% trans 'Конкурсные виды - Ответ' %}</p>
                <h3>{% trans 'Подведение итогов' %}</h3>
                <p>{% trans 'Подведение итогов - Ответ' %}</p>
                <h3>{% trans 'Наша философия' %}</h3>
                <p>{% trans 'Наша философия - Ответ' %}</p>
                <h3>{% trans 'Где проходит Марафон и как присоединиться' %}</h3>
                <p class="mb-5">{% trans 'Где проходит Марафон - Ответ' %}</p>
            </div>
        </div>
    </div>
</main>

{% endblock  %}
