{% extends "main.html" %}
{% load static %}

{% block head %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <style>
      h1 { font-family: 'Ubuntu Mono', sans-serif; }
      .bg-blur{ backdrop-filter: blur(5px); }
    </style>
{% endblock head %}

{% block body %}

<main>
  <div class="container mt-5">

    <div class="row align-items-center  mt-5 pt-1 ">
      <div class="col">
        <h1 class="mb-0 display-6">Знания</h1>
        <p class="mt-3 mb-3 lead">Ниже приводятся материалы, накопленные участниками в свободное время между этапами Марафона, и другие полезные ссылки.</p>
      </div>
    </div>

    <div class="row justify-content-md-center mt-5 pt-1 mb-5 ">
      <div class="col-12 col-md-4">
        <h2 class="display-6 mb-4 text-start"><small><i class="bi bi-flower2"></i></small>&nbsp; Виды:</h2>
        <ul class="list-unstyled">
          <li><i class="bi bi-link"></i> <a href="https://telegra.ph/Lithops-dorotheae-01-25">Lithops dorotheae</a></li>
          <li><i class="bi bi-link"></i> <a href="https://telegra.ph/Lithops-otzeniana-02-26">Lithops otzeniana </a></li>
          <li><i class="bi bi-link"></i> <a href="https://telegra.ph/Lithops-gracilidelineata-03-29">Lithops gracilidelineata</a></li>
          <li><i class="bi bi-link"></i> <a href="https://telegra.ph/Lithops-ruschiourum-04-29">Lithops ruschiorum</a></li>
          <li><i class="bi bi-link"></i> <a href="https://telegra.ph/Lithops-hookeri-07-13">Lithops hookeri </a></li>
        </ul>
      </div>
      <div class="col-12 mt-5 mt-md-0 col-md-4">
        <h2 class="display-6 mb-4 text-start"><small><i class="bi bi-bucket-fill"></i></small>&nbsp; Уход:</h2>
        <ul class="list-unstyled">
          <li><i class="bi bi-link"></i> <a href="https://telegra.ph/Poliv-litopsov-01-24-2">Полив литопсов</a></li>
          <li><i class="bi bi-link"></i> <a href="https://telegra.ph/Godovoj-cikl-litopsov-02-26">Годовой цикл литопсов</a></li>
          <li><i class="bi bi-link"></i> <a href="https://telegra.ph/Substrat-03-30">Субстрат для литопсов</a></li>
        </ul>
      </div>
    </div>

    <div class="row align-items-center justify-content-md-center   mt-5 pt-1 ">
      <div class="col-8">
        <h2 class="display-6 mb-4 text-start"><small><i class="bi bi-person-circle"></i></i></small>&nbsp; Авторские статьи:</h2>
        <ul class="list-unstyled">
          <li><i class="bi bi-link"></i> <a href="https://vk.com/@-221111793-moi-opyt-poseva-litopsov">Мой опыт посева литопсов</a>, <em>Владимир Долгих</em></li>
          <li><i class="bi bi-link"></i> <a href="https://pikabu.ru/story/litopsyi_dlya_chaynikov_voprosyi_na_otvetyi_8233884">Литопсы для чайников. Вопросы на ответы⁠⁠</a>, <em>krgplv, Евгения Каргаполова</em></li>
          <li><i class="bi bi-link"></i> <a href="https://mesemb.ru/articles/cono">Выращивание конофитумов</a>, <em>Терри Смейл</em></li>
        </ul>
      </div>
    </div> 

    <div class="row align-items-center justify-content-md-center   my-5 pt-1 ">
      <div class="col-8">
        <h2 class="display-6 mb-4 text-start"><small><i class="bi bi-info-square"></i></i></small>&nbsp; Прочие полезные ресурсы:</h2>
        <ul class="list-unstyled">
          <li><i class="bi bi-pin-map"></i>  <a href="https://www.google.com/maps/d/u/0/edit?mid=1dDYbJ43isGRc0T2Y8cD2-0bi1GMwG0Y&usp=sharing">Lithops Locality Data</a>
<em>Desmond T. Cole</em> October 2002, C001 - C400, локации на Google Map</li>
        </ul>
      </div>
    </div> 

  </div>
</main>

{% endblock body %}
