{% extends "main.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans 'Партнёры' %} · Mesemb Marathon{% endblock title %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/pages.css' %}">
{% endblock %}

{% block body %}

<main class="container static-page">
    <header class="page-header prose">
        <h1 class="display-6">{% trans 'Партнёры' %}</h1>
        <p class="lead mb-0">{% trans 'about_partners' %}</p>
    </header>

    <section class="py-4 border-bottom">
        <h2 class="h4 text-center mb-4">{% trans "marathon_2025_sponsors" %}</h2>
        <div class="row row-cols-2 row-cols-sm-3 row-cols-lg-5 g-4 justify-content-center">
            <div class="col partner">
                <a href="https://vk.com/rimsagmanov/" target="_blank" rel="noopener">
                    <img src="{% static 'img/partners/rim_sagmanov.jpg' %}" class="rounded-circle" alt="{% trans 'Рим Сагманов' %}">
                </a>
                <p>{% trans 'Рим Сагманов' %}</p>
            </div>
        </div>
    </section>

    <section class="py-4 border-bottom">
        <h2 class="h4 text-center mb-4">{% trans "marathon_2024_sponsors" %}</h2>
        <div class="row row-cols-2 row-cols-sm-3 row-cols-lg-5 g-4 justify-content-center">
            <div class="col partner">
                <a href="https://minifermer.ru/" target="_blank" rel="noopener">
                    <img src="{% static 'img/partners/minifermer.svg' %}" class="contain" alt="Minifermer">
                </a>
                <p>{% trans 'Товары для ситифермеров' %}</p>
            </div>
            <div class="col partner">
                <a href="https://mesemb.org/" target="_blank" rel="noopener">
                    <img src="{% static 'img/partners/msgbdg.gif' %}" class="contain" alt="Mesemb Study Group">
                </a>
                <p>Mesemb Study Group</p>
            </div>
            <div class="col partner">
                <a href="https://vk.com/club221111793" target="_blank" rel="noopener">
                    <img src="{% static 'img/partners/lithops-ne-ne-slyshal.jpg' %}" class="rounded-circle" alt="{% trans 'Литопсы? Не, не слышал' %}">
                </a>
                <p>{% trans 'Литопсы? Не, не слышал' %}</p>
            </div>
        </div>
    </section>

    <section class="py-4">
        <h2 class="h4 text-center mb-4">{% trans "marathon_2023_sponsors_and_partners" %}</h2>
        <div class="row row-cols-2 row-cols-sm-3 row-cols-lg-5 g-4 justify-content-center">
            <div class="col partner">
                <a href="https://www.youtube.com/@SuccsInTheNorth" target="_blank" rel="noopener">
                    <img src="{% static 'img/partners/succulents_in_the_north_logo.png' %}" class="rounded-circle" alt="Succulents in the North">
                </a>
                <p>Succulents in the North</p>
            </div>
            <div class="col partner">
                <a href="https://vk.com/club221111793" target="_blank" rel="noopener">
                    <img src="{% static 'img/partners/lithops-ne-ne-slyshal.jpg' %}" class="rounded-circle" alt="{% trans 'Литопсы? Не, не слышал' %}">
                </a>
                <p>{% trans 'Литопсы? Не, не слышал' %}</p>
            </div>
            <div class="col partner">
                <a href="https://t.me/stylesucculent" target="_blank" rel="noopener">
                    <img src="{% static 'img/partners/style_succulents_anet.jpg' %}" class="rounded-circle" alt="{% trans 'Стильные суккуленты Анет' %}">
                </a>
                <p>{% trans 'Стильные суккуленты Анет' %}</p>
            </div>
            <div class="col partner">
                <a href="https://lithopsik.ru/" target="_blank" rel="noopener">
                    <img src="{% static 'img/partners/lithopsik.jpg' %}" class="rounded-circle" alt="{% trans 'Клуб Любители живых камней' %}">
                </a>
                <p>{% trans 'Клуб "Любители живых камней"' %}</p>
            </div>
            <div class="col partner">
                <a href="http://www.cactuspot.ru/" target="_blank" rel="noopener">
                    <img src="{% static 'img/partners/cactuspot.jpg' %}" class="rounded-circle" alt="Cactus Pot">
                </a>
                <p>{% trans 'Горшки и растения от Виктора Было' %}</p>
            </div>
        </div>
    </section>

    <div class="callout prose text-center mt-4">
        <p class="mb-0">{% trans 'how_to_be_a_partner' %} <a href="{% url 'marathon contacts' %}?subject=partnership">{% trans 'Контакты' %}</a>.</p>
    </div>
</main>

{% endblock %}
