{% extends "main.html" %}
{% load static %}
{% load i18n %}


{% block head %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <style>
      h1 { font-family: 'Ubuntu Mono', sans-serif; }
      .bg-blur{ backdrop-filter: blur(5px); }
    </style>
{% endblock head %}

{% block body %}

<main>
  <div class="container mt-5">
    <div class="row my-4">
      <div class="col">
        <h4 class="my-4 text-center" id="requirements">{% trans 'Требования к участникам конкурса'%}</h4>
        <ul>
          <li>{% trans 'конкурные виды должны быть посеяны в отдельные горшки (квадратной/круглой/многоугольной формы)'%};</li>
          <li>{% trans 'наличие фотоаппарата — примерно раз в месяц необходимо делать фото конкурсных сеянцев'%};</li>
          <li>{% trans 'наличие линейки с миллиметровой шкалой'%};</li>
          <li>{% trans 'наличие информации об источнике семян и их точном количестве в посеве'%}.</li>
        </ul>
      </div>
    </div>

    <div class="row my-4">
      <div class="col">
        <h4 class="my-4 text-center">{% trans 'Требования к конкурсным фото' %}:</h4>
        <ul>
          <li>{% trans 'Ракурс: вертиально сверху или под небольшим углом' %};</li>
          <li>{% trans 'Освещение: лучше искусственное, т.к. оно не меняется в зависимости от сезона' %};</li>
          <li>{% trans 'Ракурс и освещение должны быть по возможности одинаковые на протяжении всего марафона' %};</li>
          <li>{% trans 'Позиционирование: горшок на фото должен стоять всегда одной и той же стороной (можно сделать метку на одном из бортов)' %};</li>
          <li>{% trans 'Вдоль нижнего борта должна быть видна шкала линейки (только на первом фото + после каждой смены горшка)' %}</li>
          <li>{% trans 'Борта горшка должны попадать в кадр' %};</li>
          <li>{% trans 'Фото не обязательно должно быть кадрировано - все лишнее будет обрезано' %};</li>
          <li>{% trans 'Отправлять фото в чат необходима "как файл", а не "как фото"' %}.</li>
        </ul>
      </div>
    </div>
        
    <div class="row my-4">
      <div class="col">
        <h4 class="my-4 text-center">{% trans 'Зачем нужна линейка?' %}</h4>
      </div>
    </div>

    <div class="row mb-5">
      <div class="col-lg-4 col-xl-5 text-center position-relative">
        <img src="{% static 'marathon/img/2024/ruler_on_the_pots_w1000.png' %}" class="img-fluid" alt="Ruler on the pot">
      </div>

      <div class="col-lg-8 col-xl-7 text-center text-lg-start">
        <p>{% trans 'Линейка на фото необходима для понимания масштаба на фото в конкурсной таблице. При пикировке в другой (более крупный) горшок — из-за большей площади растения на фото после пикировки становятся мелкие' %}.</p>
        <p>{% trans 'Линейка может быть любая: распечатанная на принтере, гостированная, школьная, главное чтобы на ней была шкала миллиметров. Для распечатанных на принтере линеек следует проверить, что миллиметры соответствуют своему размеру' %}. </p>
        <p>{% trans 'Линейку нужно приложить к горшку вдоль нижнего борта, чтобы она попадала в кадр. Не имеет значения, куда прикладывать ноль, главное чтобы была видна шкала' %}. </p>
        <p>{% trans 'Если не хочется каждый раз возиться с линейкой, то это можно сделать только на первом фото. На последующих  фото - ориентиром для выравнивания масштаба будет служить горшок (в этом случае горшок должен попадать в кадр на всех фото!).  Еще раз прикладывать линейку будет нужно в случае смены горшка (при пересадке растений), чтобы сохранить масштаб' %}.</p>
        <p>{% trans 'Наличие масштаба и возможность понять размер сеянцев — повышает качество данных и научную ценность материалов, получаемых в результате проведения Марафона' %}.</p>
      </div>
    </div>

    <div class="row my-4 bg-light ">
      <div class="col-12">
          <h4 class="my-4 text-center">{% trans 'Выбор победителей: Правила проведения голосований' %}</h4>
          <p>{% trans 'Чтобы стать номинантом нужно предоставить от 1 до 3 фото ваших сеянцев, соответствующих данной номинации' %}.</p>
          <p>{% trans 'Для финальных фото разрешается использовать выигрышный ракурс, дополнительный свет, фон, т.е. проявить фантазию. Единственное требование: хотя бы одно фото из предоставленных должно быть общего плана, т.е. целиком вмещать растения и горшок' %}.</p>
          <p>{% trans 'Для номинаций, в которых участвует более одного растения (N растений), количество фотографий может быть от 1 до N+1 (например для номинации <strong>Лучшая тройка</strong> можно предоставить от 1 до 4 фото)' %};</p>
          <p>{% trans 'Фото для номинации не обязательно делать в день голосования, их можно сделать заранее, начиная с 16 сентября' %}.</p>
          <p>{% trans 'Каждый зарегистрированный участник может участвовать  в нескольких номинациях' %}.</p>
          <p>{% trans 'Голосование проходит в Telegram в открытом режиме' %}.</p>
          <p>{% trans 'Оставить свой голос может любой участник чата, в том числе не являющийся участником марафона' %}.</p>
          <p>{% trans 'Голосовать за себя не разрешается' %}.</p>
          <p>{% trans 'На голосование в каждой номинации отводится 1-2 дня, но этот период можно быть скорректирован в процессе' %}</p>
          <p>{% trans 'Голосование за следующую номинацию возможно только после окончания голосования за предыдущую' %}.</p>
          <p>{% trans 'Общий порядок проведения голосования за номинацию' %}:</p>
          <ul>
            <li>{% trans 'Объявиление номинации (в соответствии с графиком)' %};</li>
            <li>{% trans 'Сбор фото от номинантов' %};</li>
            <li>{% trans 'Проведение голосования' %};</li>
            <li>{% trans 'В случае ничьей запускается еще одно голосование' %}.</li>
          </ul>
          <p>{% trans 'Публикация дополнительных фото конкурсанта в период проведения голосования - не допускается.' %}</p>
          <p><a href="https://telegra.ph/Primery-finalnyh-foto-dlya-Marafona-2023-10-10">{% trans 'Примеры финальных фото' %}</a></p
      </div>
    </div>

  </div>
</main>

{% endblock body %}
